<div class="container__big-card">

  <div class="big-card__picture">
    <img src="https://www.sideshow.com/cdn-cgi/image/height=850,quality=90,f=auto/https://www.sideshow.com/storage/product-images/300797/carnage_marvel_gallery_62fd2d983f225.jpg"
    alt=""
    height="200px"
    >
      <div class="big-card__title">
        <h1><a href="#"> Saiu a nova versão do Angular!  </a></h1>
      </div>
      <div class="big-card__description">
        <p>
          <a href="#">
          Versionamento foi atualizado recentemente
          </a>
        </p>
      </div>
     </div>
</div>
